<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1025060037090-mu8vnafsh16pk3c7vu57dnsj76s8a9pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025060037090-mu8vnafsh16pk3c7vu57dnsj76s8a9pg</string>
	<key>API_KEY</key>
	<string>AIzaSyB2kuYtPHETqE-M2SZPaIhyTur0bebQ0ak</string>
	<key>GCM_SENDER_ID</key>
	<string>1025060037090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Michael-F.Car-Charge-Checker</string>
	<key>PROJECT_ID</key>
	<string>evqproject</string>
	<key>STORAGE_BUCKET</key>
	<string>evqproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025060037090:ios:8578e6195f0adfa2</string>
	<key>DATABASE_URL</key>
	<string>https://evqproject.firebaseio.com</string>
</dict>
</plist>